@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@300&family=Montserrat:wght@300&display=swap');

:root {
  /* Color Pallette. */
  --primary-color: #495867;
  --secondary-color: #BDD5EA;
  --accent1-color: #FE5F55;
  --accent2-color: #F7F7FF;

  /* Specific Colors for Tages/Elements. */
  --headline-color-on-white: #495867;  /* headlines on a white background */ 
  --headline-color-on-color: #BDD5EA; /* headlines on a colored background */ 
  --paragraph-color-on-white: #495867; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #BDD5EA; /* paragraph text on a colored background */ 
  --paragraph-background-color: #495867;
  --nav-link-color: #BDD5EA;
  --nav-background-color: #FE5F55;
  --nav-hover-link-color: #F7F7FF;
  --nav-hover-background-color: #396E94;

    /* Fonts for pages. */
    --heading-font: 'Gluten', cursive, Helvetica, sans-serif;
    --paragraph-font: 'Montserrat', Helvetica, sans-serif;
}

/* CSS RULES */

/* Universal Rules */ 
body {
  background-color: var(--secondary-color);
  font-family: var(--paragraph-font);
  font-size: 20px;
  margin: 0;
  padding: 0;
}

/* Header/Nav Bar Rules */ 
#main-content {
  max-width: 1600px;
  margin: 0 auto;
}

header {
  background-color: var(--accent1-color);
  font-family: var(--heading-font);
  height: 420px;
  display: grid;
  grid-template-columns: 500px auto;
}

header h2 {
  padding: 15px;
  color: var(--primary-color);
  display: flex;
  justify-content: space-around;
  align-items: end;
  grid-column: 2/3;
}

header img {
  max-height: 400px;
  width: auto;
  margin: 10px 5px 5px 10px;
}

nav {
  background-color: var(--accent1-color);
  padding: 15px;
  display: flex;
  justify-content: space-around;
  align-items: end;
  grid-column: 3/4;
}

nav a {
  text-align: center;
  color: var(--accent2-color);
  text-decoration: none;
  padding: 20px;
}

nav a:hover {
  background-color: var(--primary-color);
  color: var(--accent1-color);
}

/* Body Rules */
.home-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: repeat(4, auto);
}

.home-grid img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 17px;
}

#home-quote {
  grid-column: 1/5;
  grid-row: 1/2;
  padding: 25px;
}

.home-grid p {
  grid-column: 2/3;
  grid-row: 2/5;
  padding: 0 17px;
  font-size: 16px
}

.bear1 {
  max-height: 500px;
  grid-column: 1/2;
  grid-row: 2/4;
}

/* .home-top-section p{
  grid-column: 2/4;
} */

.bear2 {
  max-height: 500px;
  grid-column: 3/4;
  grid-row: 2/4;

}

/* Footer Rules */
footer {
  background-color: var(--primary-color);
  font-size: .7em;
  padding: 25px 50px;
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer h3 {
  color: var(--accent2-color);
}

footer a {
  color: var(--secondary-color);
  text-decoration: none;
}

footer a:hover {
  color: var(--accent2-color);
}

/* Media Query Code*/
@media screen and (max-width: 900px) {
  #hero, .home-grid {
      display: block;
      height: auto;
  }
  nav, footer {
      flex-direction: column;
  }
  nav a {
      display: block;
      padding: 15px;
  }
  #hero {
      margin-top: 0;
  }
  #hero-msg {
      margin-top: 0;
  }
  #hero-msg h4 {
      display: none;
  }
  .home-title {
      font-size: 25px;
      color: #6f7364;
  }
  .rivers-card, .camping-card, .rapids-card { 
      margin: 50px auto;
      width: 60%;
  }
  #background {
      display: none;
  }
  .mountains, .msg {
      width: 80%;
      display: block;
      margin: 0 auto;
  }
  footer {
      margin-top: 25px;
  }
}