/*Changes the whole body of the web page.*/
body {
    text-align: center;
}

/*Changes the navigation menu at the top of the page.*/
nav {
    background-color: steelblue;
    padding: 10px;
}

/*Changes the links inside of the navigation menu.*/
a {
    color: white;
    margin: 40px;
}

h1 {
    color: steelblue;
}

img {
    width: 800px;
    border: 4px solid steelblue;
}

p {
    padding: 10px;
}

/*# Changes ID tags. Only one ID tage per element.*/
#active {
    background-color: white;
    color: steelblue;
}

/*.Changes class tags. Multiple elements can share the same class tag.*/
.main-para {
    font-size: 1.5rem;
    line-height: 1.5rem;
}

footer {
    background-color: steelblue;
    color: white;
}